<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header1 :: header">

</head>
<body>

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article class="post tag-about-ghost post-head">
                    <h1 class="post-title">
                        <a href="#">禁止手动阀手动阀</a>
                    </h1>
                    <div class="post-meta">
                        <span class="author">
                            作者
                            <a href="#">王鹤非</a>
                            <time class="data" datetime="2015-10-10">2015-10-10</time>
                        </span>
                    </div>
                    <div class="post-content">
                        <p>
                            Ghost 提供一个ghost_foot 助手, 用来在页面底部输出
                        </p>
                    </div>
                    <div class="post-permalink">
                        <a href="#" class="btn btn-default">阅读全文</a>
                    </div>
                    <div class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="#">Ghost</a>
                            <a href="#">Ghost</a>
                            <a href="#">Ghost</a>
                        </div>
                    </div>
                </article>
            </main>
        </div>
        <div class="row list-main">
            <h5 class="list-header"><i class="fa fa-heart-o" aria-hidden="true"></i> 精彩推荐</h5>
            <div class="col-sm-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../images/ic_p7.jpg"
                         alt="通用的占位符缩略图">
                    <div class="caption">
                        <p class="caption-descript">一些示例文本。</p>
                        <p class="capation-icon">
                            <i class="fa fa-odnoklassniki" aria-hidden="true">2720</i>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../images/ic_p7.jpg"
                         alt="通用的占位符缩略图">
                    <div class="caption">
                        <p class="caption-descript">一些示例文本。</p>
                        <p class="capation-icon">
                            <i class="fa fa-odnoklassniki" aria-hidden="true">2720</i>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../images/ic_p7.jpg"
                         alt="通用的占位符缩略图">
                    <div class="caption">
                        <p class="caption-descript">一些示例文本。</p>
                        <p class="capation-icon">
                            <i class="fa fa-odnoklassniki" aria-hidden="true">2720</i>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../images/ic_p7.jpg"
                         alt="通用的占位符缩略图">
                    <div class="caption">
                        <p class="caption-descript">一些示例文本。</p>
                        <p class="capation-icon">
                            <i class="fa fa-odnoklassniki" aria-hidden="true">2720</i>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->


<div th:replace="fragments/footer :: footer">...</div>


</body>
</html>