<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header_new :: header">

</head>
<body>
<!-- 广告轮播图-->
<section id="main_ad" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#main_ad" data-slide-to="0" class="active"></li>
        <li data-target="#main_ad" data-slide-to="1"></li>
        <li data-target="#main_ad" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" data-image-lg="../images/ic_p7.jpg" data-image-xs="../images/ic_p6.jpg"></div>
        <div class="item" data-image-lg="../images/ic_p7.jpg" data-image-xs="../images/ic_p6.jpg"></div>
        <div class="item" data-image-lg="../images/ic_p7.jpg" data-image-xs="../images/ic_p6.jpg"></div>
    </div>

    ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#main_ad" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main_ad" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>


<div th:replace="fragments/footer_new :: footer">...</div>


</body>
</html>